*_p.c
*.tlb
saves/
*.tlh
*.obj
TCNodeTracker/
falseprovince/xrayversion.dat
*.sbr
#ignore thumbnails created by windows
*.pch
asm/
*.pdb
falseprovince/Reika.DragonAPI.ModInteract.DeepInteract.FrameBlacklist.classdata
[Tt]est[Rr]esult*
*.lib
falseprovince/.analytics/com.lordmau5.ffs.compat.FFSAnalytics.properties
*.exe
journeymap/
falseprovince/config/xray/
*.cache
cache/
*.bak
Thumbs.db
falseprovince/options.txt
falseprovince/config/fastcraft.ini
[Bb]in
falseprovince/usernamecache.json
*.aps
_ReSharper*/
*.log
bin/
crash-reports/
*.ilk
[Dd]ebug*/
*_i.c
falseprovince/config/worldedit/worldedit.properties
assets/
coremods/
falseprovince/BotaniaVars.dat
*.vspscc
falseprovince/OpenComputersMod-*
falseprovince/knownkeys.txt
resourcepacks/
[Rr]elease*/
reports/
#Ignore files build by Visual Studio
falseprovince/mods/XRay-4.1.7.jar
stats/
resources/
falseprovince/1213309934
blueprints/
logs/
falseprovince/config/RTM.cfg
obj/
fonts/
falseprovince/mods/1.7.10/LibSandstone-1.0.0.jar
*.user
falseprovince/localconfig.cfg
*.ncb
*.suo
falseprovince/mods/carpentersblocks/CarpentersBlocksCachedResources.zip