asm/
assets/
bin/
blueprints/
cache/
coremods/
crash-reports/
fonts/
journeymap/
logs/
reports/
resourcepacks/
resources/
saves/
stats/
TCNodeTracker/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
falseprovince/1213309934
falseprovince/.analytics/com.lordmau5.ffs.compat.FFSAnalytics.properties
falseprovince/BotaniaVars.dat
falseprovince/OpenComputersMod-*
falseprovince/Reika.DragonAPI.ModInteract.DeepInteract.FrameBlacklist.classdata
falseprovince/usernamecache.json
falseprovince/knownkeys.txt
falseprovince/mods/XRay-4.1.7.jar
falseprovince/xrayversion.dat
falseprovince/options.txt
falseprovince/config/xray/
falseprovince/options.txt
falseprovince/options.txt
falseprovince/options.txt
falseprovince/localconfig.cfg
falseprovince/mods/1.7.10/LibSandstone-1.0.0.jar
falseprovince/mods/1.7.10/LibSandstone-1.0.0.jar
falseprovince/mods/1.7.10/LibSandstone-1.0.0.jar
